.board-detail-container{
  height:100%;
}

.board-header{
  height: 5%;
}

.board-detail-content {
  margin-bottom: 10px;
  height:95%;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #777;
}

.meta-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #777;
}

.meta-info span {
  margin-left: 10px;
}

.icon {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .board-detail-content p {
    font-size: 12px;
  }
}

.board-divider {
  margin-bottom: 5px !important;
}

.main-board{
  height: 60%;
}

.comment-form{
  height:10%;
  width:100%;
}

.comment-section{

  margin-top: 25px;
  height:auto;
}