
.comment-form {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
  }
  
  .comment-form form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .comment-form input[type="text"],
  .comment-form textarea {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .comment-form textarea {
    resize: vertical; /* 세로로만 resize 가능 */
  }
  
  .comment-form button {
    width: 100px;
    padding: 8px 10px;
    font-size: 13px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 87%;
  }
  
  .comment-form button:hover {
    background-color: #5a6268;
  }
  