.customerStatusMainContent {
    display: flex;
    justify-content: center;
  }

/* 오른쪽 정렬 */
.righted {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* 가운데정렬 */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 왼쪽 정렬 */
.lefted {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
/* 위쪽정렬 */
.uppered {
  display: flex;
  align-items: flex-start;
}
/* 테이블 가운데 정렬 */
.table-centered {
    text-align: center;
}
/* 테이블 오른쪽정렬 */
.table-righted {
    text-align: right;
}
/* 테이블 왼쪽정렬 */
.table-lefted {
    text-align: left;
}


/* 상품별 선호도 탭버튼 스타일 */
.nav-tabs .nav-link {
  color: #999; /* 옅은 회색 */
}
.nav-tabs .nav-link.active {
  color: #000; /* 활성화된 탭은 검정색 */
}

.icon-up {
  color: blue !important;
}
.icon-down {
  color: red !important;
}

.table th,
.table td {
  min-width: 30px; /* 최소 너비 */
  max-width: 300px; /* 최대 너비 */
  width: auto; /* 유동적 너비 */
  word-wrap: break-word; /* 내용이 넘칠 경우 줄바꿈 */
  text-align: center; /* 가운데 정렬 */
}

.table th {
  background-color: #f8f9fa;
}

.table-centered {
  text-align: center;
}

.table-righted {
  text-align: right;
}


/* 페이지네이션 스타일 */
.page-item.active .page-link {
  background-color: black;
  border: none;
}
.active-link {
  background-color: black !important;
  border: none;

}

.searchBox {
  display: flex;

}

/* 팝업창 스타일 */

/* 최상단 이동 버튼 */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}

.custom-carousel-control .carousel-control-prev-icon,
.custom-carousel-control .carousel-control-next-icon {
  /* background-color: gray; 화살표 색상 */
  width: 50px; /* 화살표 너비 */
  height: 50px; /* 화살표 높이 */
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg); 
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  font-size: 2rem; /* 화살표 크기 */
  
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* 화살표 클릭 영역 너비 */
}

.carousel-control-prev {
  left: -50px; /* 왼쪽으로 50px 이동 */
}

.carousel-control-next {
  right: -50px; /* 오른쪽으로 50px 이동 */
}


.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  width: 5%; /* 화살표 클릭 영역 너비 */
}

.carousel-control-prev {
  transform: translateX(-50%);
}

.carousel-control-next {
  transform: translateX(50%);
}