.reservation-modal .modal-dialog {
    max-width: 90%;
    width: 90%;
    height: 90vh;
    margin: 1.75rem auto;
  }
  
  .reservation-modal .modal-content {
    height: 100%;
    font-size: 1.6rem;
  }
  
  .reservation-modal .modal-body {
    overflow-y: auto;
    max-height: calc(90vh - 200px);
  }
  
  .reservation-modal .modal-title {
    font-size: 2.5rem;
  }
  
  .reservation-table {
    font-size: 1.5rem;
  }
  
  .reservation-table th {
    font-size: 1.8rem;
    text-align: center;
  }
  
  .reservation-table td {
    font-size: 1.6rem;  /* tbody의 글씨 크기를 키웁니다 */
    text-align: center;  /* td 내용을 가운데 정렬합니다 */
    vertical-align: middle;  /* 세로 방향으로도 가운데 정렬합니다 */
  }
  
  .no-reservations {
    font-size: 2rem;
  }
  
  .reservation-modal .btn-secondary {
    font-size: 1.6rem;
  }
  
  .reservation-modal .close {
    font-size: 2rem;
  }
  
  .reservation-table td, .reservation-table th {
    padding: 1rem;
  }