#Frame {
  display: flex;
  justify-content: column;
}

#add_reg:hover, #add_cancel:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.calendar {
  width: 650px;
  margin: 10px 0 10px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

.flex-shrink-0 {
  width: 100px; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4a90e2;
  color: #fff;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.year-month {
  font-size: 30px;
  font-weight: bold;
}

.nav {
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.go-today {
  width: 75px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.days {
  display: flex;
  margin: 25px 0 10px;
  background-color: #f8f9fa;
  padding: 10px 0;
}

.day {
  width: calc(100% / 7);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4a90e2;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 550px;
  border-top: 1px solid #e0e0e0;
}

.date {
  width: calc(100% / 7);
  padding: 15px;
  text-align: right;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  transition: background-color 0.3s;
}

.date span {
  display: block;
  text-align: right;
  margin-bottom: 5px;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
  opacity: 0.3;
}

.date:hover {
  background-color: #f0f0f0;
}

.today:not(.other) {
  position: relative;
  color: #fff;
  background-color: #FFD5D2
}

.custom-right-column {
  margin-top: 7rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  color: #333;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #e9ecef;
}

.table input[type='checkbox'] {
  margin: 0;
}

.right input[type='text'] {
  border: none;
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 4px;
  width: 300px;
  margin-bottom: 10px;
}

.searcher .right button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}

.searcher .right button:hover {
  background-color: #333;
}

.items-subTitle {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
  margin-bottom: 10px;
}

.items-subTitle button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.items-subTitle button:hover {
  background-color: #333;
}

.btn-register, .btn-search {
  background-color: #396EE2;
  color: #fff;
  border: none;
  padding: 14px 24px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-register:hover, .btn-search:hover {
  background-color: #333;
  transform: translateY(-2px);
}

.reserved {
  position: relative;
  background-color: white;
}

.reserved::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 10px;
  background-color: rgba(135, 206, 235, 0.5);
  border-radius: 5px;
  transform: translateY(-50%);
}

.date-content {
  position: relative;
  height: 100%;
}

.date-number {
  display: block;
  text-align: right;
  margin-right: 5px;
  font-size: 14px;
}

.acorn-icon {
  position: absolute;
  bottom: -3px;
  left: -5px;
  width: 30px;
  height: 30px;
  color: #4a90e2;
}