.header {
    padding-bottom: 15rem;
  }
  
  .login {
    margin: 0 auto;
    text-align: center;
    width: 450px;
    padding: 0rem 3rem;
    padding-bottom: 2rem;
    margin-bottom: 10rem;
  }
  .login a:hover{
    text-decoration: none;
  }
  .login> :nth-child(1)> :nth-child(2) h4{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .login> :nth-child(1)> :nth-child(2) {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
  
  .login> :nth-child(1)> :nth-child(2) a {
    font-size: 1.6rem;
    width: 100%;
    padding: 2rem 0;
  }
  
  .login> :nth-child(1)> :nth-child(2) a:nth-child(1) {
    color: #2341a6;
    border-bottom: 3px solid #2341a6;
  }
  
  .login> :nth-child(1)> :nth-child(2) a:nth-child(2) {
    color: #999;
      border-bottom: 3px solid #eee;
  }
  
  .login> :first-child>input {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background: none;
    margin-bottom: 7px;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
  }
  
  .login> :first-child>input::placeholder {
    color: #ccc;
  }
  
  .login button {
    width: 100%;
    background: #2341a6;
    color: white;
    transition: 0.8s;
    height: 50px;
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  .login> :nth-child(2) {
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  
  .login> :nth-child(2) {
    width: 100%;
  }
  
  .login h3 {
    font-weight: lighter;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .login a {
    color: #444;
  }
  
  .login a:hover {
    color: #444;
  }

  .login>div> :nth-child(3) {
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  
  .login>div> :nth-child(3) li {
    color: #666;
  }
  
  .login>div> :nth-child(5) {
    display: flex;
    width: 450px;
    margin-bottom: 4rem;
  }
  .login>div> :nth-child(5) h5{
    margin-right: 5px;
    margin-top:15px;
  }
  .login>div> :nth-child(5) select {
    width: 115px;
    border: 1px solid #666;
    padding: .8em .5em;
    font-family: inherit;
    background: url('https://cdn2.iconfinder.com/data/icons/font-awesome/1792/angle-down-512.png') no-repeat;
    border-radius: 0px;
    background-position: 95% 50%;
    background-size: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0.6;
  }
  
  .login>div> :nth-child(5) select option {
    color: #999;
  }
  
  .login>div> :nth-child(5) select:focus {
    border: 1px solid #000;
  }
  
  .login>div> :nth-child(5) input {
    border: 1px solid #ccc;
    width: 122px;
    height: 50px;
    margin-right: 5px;
    padding: 0 10px;
  }
  
  .login>div> :nth-child(5) input::placeholder {
    color: #ccc;
  }
  
  .login>div> :nth-child(5) input:focus {
    border: 1px solid #000;
  }
  
  .login>div> :nth-child(6) {
    color: #999;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .login>div> :nth-child(6) label {
    font-weight: lighter;
  }
  
  
  
  
  
  input[type="text"] {
    margin-bottom: 14px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .link-heading {
    font-size: 25px; }

